<!-- src/app/employee-list/employee-list.component.html -->
<div class="container">
  <h2 class="text-center">Employee List</h2>
  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">First Name</th>
        <th class="text-center">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let employee of employees"
        (click)="viewEmployee(employee.id)"
        style="cursor: pointer"
      >
        <td class="text-center">{{ employee.id }}</td>
        <td class="text-center">{{ employee.firstName }}</td>
        <td class="text-center">{{ employee.lastName }}</td>
      </tr>
    </tbody>
  </table>
</div>
